.td{
    height: 50px;
    width: 90px;
    border: none;
}
#whitepics{
    border: solid 1px black;

}
/* .td1{
    height: 100px;
    width: 180px;
} */

#whitepics2{
  border: solid 1px black;
}
#border{
    border:  solid 1px black;
}